@use "./abstracts/mixins" as *;
@use "./abstracts/variables" as *;
@use "./base/reset";
@use "./base/typography";
@use "./components/buttons";
@use "./layout/header";
@use "./layout/sections";
@use "./layout/footer";
@use "./darklightmode/switcher";
@use "./burgermenu/burgermenu";
@use "./layout/container";

.header-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 24, 89);
}
