@use "../abstracts/variables" as *;
@use "./fonts" as *;
@use "./typography" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: $regular;
}

p {
  font-family: $font-primary;
  font-weight: $regular;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

html {
  font-size: 62.5%;
}
