@use "../base/fonts" as *;

$font-primary: "Poppins", sans-serif;
$font-secondary: "Plus Jakarta Sans", sans-serif;
$font-tertiary: "Open Sans", sans-serif;

$regular: 400;

$medium: 500;
$semi-bold: 600;
$bold: 700;

$font-size-small: 1.4rem;
$font-size-medium: 1.6rem;
$font-size-large: 1.8rem;
$font-size-xlarge: 2rem;
$font-size-xxlarge: 2.4rem;
$font-size-xxxlarge: 3.2rem;
